---
import Container from "@/components/container.astro";
import Link from "@/components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Начало",
    path: "/",
  },
  {
    title: "За нас",
    path: "/about",
  },
  {
    title: "Услуги",
    path: "/features",
  },
  {
    title: "Цени",
    path: "/pricing",
  },
  
  {
    title: "Блог",
    path: "/blog",
  },
  {
    title: "Контакти",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <!-- Logo text and image-->
        <a href="/" class="text-lg flex items-center gap-1">
          <!--  SVG logo fixed size -->
          <img
            src="/logo.svg"
            alt="Optima Finance Лого"
            class="w-7 h-7 shrink-0"
          />

          <div>
            <span class="font-bold text-slate-800">Optima</span>
            <span class="text-brand-green font-bold">Finance</span>
          </div>
        </a>

        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>

      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
              <li>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                  <span>{item.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>

    <div class="hidden lg:flex items-center gap-4">
      <Link href="/contact" size="md"> Консултация </Link>
    </div>
  </header>
</Container>
