<footer class="bg-[#0F3C63] text-white py-12 mt-20">
  <p class="text-center text-sm text-slate-300">
    Copyright © {new Date().getFullYear()} Optima <span class="text-[#4E8C6A]">Finance</span>. All rights reserved.
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-400 mt-2">
    Made by <a
      href="/"
      rel="noopener"
      class="hover:underline text-white font-medium">
      Optima <span class="text-[#4E8C6A]">Finance</span>
    </a>
  </p>
</footer>
