---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-neutral-500">Последвайте ни в социалните мрежи</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <!-- Facebook -->
    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="text-neutral-700 hover:text-social-facebook transition-colors duration-300">
      <Icon class="size-8 md:size-12" name="simple-icons:facebook" />
    </a>

    <!-- Instagram -->
    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" class="text-neutral-700 hover:text-social-instagram transition-colors duration-300">
      <Icon class="size-8 md:size-12" name="simple-icons:instagram" />
    </a>

    <!-- TikTok -->
    <a href="https://tiktok.com" target="_blank" rel="noopener noreferrer" class="text-neutral-700 hover:text-neutral-900 dark:hover:text-white transition-colors duration-300">
      <Icon class="size-8 md:size-12" name="simple-icons:tiktok" />
    </a>

    <!-- LinkedIn -->
    <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer" class="text-neutral-700 hover:text-social-linkedin transition-colors duration-300">
      <Icon class="size-8 md:size-12" name="simple-icons:linkedin" />
    </a>    
  

  </div>
</div>
