---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted" | "optima";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
};

const styles = {
  outline:
    "bg-background-surface border-2 border-neutral-900 hover:bg-neutral-100 text-neutral-900",

  primary:
    "bg-primary text-white border-2 border-transparent hover:bg-primary-hover transition-colors duration-300",

  inverted:
    "bg-background-surface text-neutral-900 border-2 border-transparent",

  muted:
    "bg-neutral-100 hover:bg-neutral-200 border-2 border-transparent",

  // ======================================================
  // Фирмени палитри
  // ======================================================

  optima:
    "bg-primary text-white border-2 border-transparent hover:bg-primary-hover transition-colors duration-300",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded-sm text-center transition focus-visible:ring-2 ring-offset-2 ring-neutral-200",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
>
  <slot />
</a>